.mainWrap , .active{
    min-width:100px;
    border-radius: 20px;
    padding: 8px 16px;
    border:2px solid  white;
    background-color:transparent;
    color:#ffffff;
    font-size: 21px;
    margin-right: 20px;
    font-family: 'SpaceGrotesk', sans-serif;

}
.active{
    background-color:#ffffff;
    color:#000000
}

.mainWrap:hover{
    background-color:#ffffff;
    color:#000000
}
.mainWrap:last-child{
    margin-right: 0px;
}
