.mainWrap , .active{
    min-width:100px;
    border-radius: 20px;
    padding: 8px 16px;
    border:2px solid  white;
    background-color:transparent;
    color:#ffffff;
    font-size: 21px;
    margin-right: 20px;
    font-family: 'SpaceGrotesk', sans-serif;

}
.active{
    background-color:#ffffff;
    color:#000000
}

.reset{
    background-color:red;
    border:2px solid  red;
}
.close{
    background-color:gray;
    border:2px solid  gray;
    color:#ffffff;
}
.close:hover{
    border:2px solid  white ;
    background-color:gray;
}

.reset:hover{
    border:2px solid  white ;
}
