.mainWrap{
    width: 100%;
    height: 500px;
    /* border:1px solid red; */
     display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    z-index: 1;
}

.pomodoroContainerWrap{

    /* border:1px solid red; */
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.header{
    max-width: 500px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items:center;

}
.countPomodoro{
margin-bottom: 20px;
}


.timer{
    font-size: 128px;
    font-weight: 600;
    color: #ffffff;
    font-family: 'SpaceGrotesk', sans-serif;
}
.timerPulse{
    font-size: 128px;
    font-weight: 600;
    color: #ff0000;
    animation: pulseTimer 2s infinite ease-in-out;

}


@keyframes pulseTimer {

    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }

}.timer{
    font-size: 128px;
    font-weight: 600;
    color: #ffffff;
    font-family: 'SpaceGrotesk', sans-serif;
}
.footer{
  /* border:1px solid red; */
  height: 50px;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-around;
  margin-top: 35px;
}


@media screen and  (max-width:470px) {
    .wrapButton{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        gap:10px
    }
}


@media screen and  (max-width:470px) {
    .wrapButton{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        gap:10px
    }
}

@media screen and  (max-width:330px) {
   .timer{
    font-size: 90px;
   }
   .timerPulse{
    font-size: 90px;
   }
}


@media screen and  (max-width:225px) {
    .timer{
     font-size: 70px;
    }
    .timerPulse{
        font-size: 70px;
       }

 }
