.mainWrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px ;
    min-height: 100px;
    background-color:black;
    border-radius:10px;
    padding: 20px;
}
.menuTitle{
    font-size: 18px;
    color:white;
    font-weight: 600;
    margin-bottom: 15px;
}
.menuTitle:hover{
    cursor: pointer;
    text-decoration: underline;
}
.content{
    min-width: 400px;
    /* border:1px solid red; */
    display: flex;
    flex-direction:row ;
    justify-content:flex-start;
}

.leftMenu{
    width: 100px;

}
.settingWrap{
    width: 400px;
    min-height: 300px;
    color:#ffffff
}
.footer{
    
    width: 100%;
display: flex;
justify-content: space-between;
}